<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liziczh.mvc.mesh.dao.mapper.TDemoMapper">
    <resultMap id="TDemoMap" type="com.liziczh.mvc.mesh.dao.po.DemoPO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
        <result column="version" property="version" jdbcType="SMALLINT"/>
        <result column="deleted" property="deleted" jdbcType="TINYINT"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="desc" property="desc" jdbcType="VARCHAR"/>
    </resultMap>
    <!--MybatisRedis缓存-->
    <cache type="com.liziczh.base.mybatisplus.cache.MybatisRedisCache"/>
</mapper>
